<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <input name="name" id="name" value="type name">
  <input name="email" id="email" value="type email">
  <input name="password" id="password"value="type password">
</form>

